<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs',{title}) %>

<body>
    <%- include('./partials/nav.ejs') %>
                <div class="info">
                    <div><strong>name: </strong> <span><%= developer.name %></span></div>
                    <div><strong>age: </strong> <span><%= developer.age %></span></div>
                </div>
                <form action="/developers/<%= developer.developer_id %>/update" method="post" id="update-developer" class="hidden">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="<%= developer.name %>"/>
                        <label for="age">Age</label>
                        <input type="number" id="age" name="age" value="<%= developer.age %>"/>
                        <input type="hidden" name="developer_id" value="<%= developer.developer_id %>"/>
                        <% if(games) { %>
                        <label for="games">Choose Games</label>
                        
                    <select name="game_id" id="games" multiple>
                        <% games.map(g => { 
                            var selected = developedGames.some(dg => dg.game == g.game_id) ? 'selected' : ''; %>
                            <option value="<%= g.game_id %>" <%= selected %>><%= g.name %></option>
                        <% }) %>
                        <% } else { %>
                            <option>no games available</option>
                        <% } %>
                    </select>
                    <div class="buttons" id="form-buttons-wrapper">
                        <button type="button" onclick="handleCancel()">cancel</button>
                        <button type="submit">submit</button>
                    </div>
                </form>
                <div class="buttons" id="action-buttons-wrapper">
                        <button type="button" data-id="<%=developer.developer_id%>" onclick="handleDelete(this.dataset.id)"><img src="/trash.svg"/></button>
                        <button type="button" onclick="handleEdit()"><img src="/edit.svg"/></button> 
                </div>
                
                <script>
                    function handleEdit(){
                        document.getElementById('action-buttons-wrapper').classList.add('hidden');
                        document.getElementById('update-developer').classList.add('display');
                        document.querySelector('.info').classList.add('hidden')
                    }
                    function handleCancel(){
            document.getElementById('action-buttons-wrapper').classList.remove('hidden');
            document.getElementById('update-developer').classList.remove('display');
            document.querySelector('.info').classList.remove('hidden')
        }

        const handleDelete = async(id) =>{
            try {

                const response = await fetch(`/developers/${id}/delete`,{
                    method:'delete',
                    headers:{
                        "Content-Type": "application/json",
                        'key':"down_usa"
                    }
                });
                const result = await response.json();
                
                if(!response.ok){
                    throw result
                }
                window.location.href = result.redirect
            } catch (error) {
                window.alert(error.message)
            }
        }

                </script>
    
</body>
</html>