<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clouding File Management - Panel</title>
    <link rel="stylesheet" type="text/css" href="styles/panel.css" />
  </head>
  <body>
    <header>
      <h4>hello <%= locals.user.username %></h4>
    </header>
    <main>
      <section class="card">
        <% if(locals.errors) { %>
        <div class="text-center">
          <p class="message"><%= locals.errors %></p>
        </div>
        <% } %>
        <div class="directory">
          <ul>
            <% if(directory){ %> <% if(directory.parent_id) { %>
            <li
              class="root"
              data-id="<%= directory.parent_id %>"
              onclick="goOneLevelUp(event)"
            >
              ...
            </li>
            <% } %> <% directory.children.map(child => { %>
            <li class="folder" data-id="<%= child.id %>">
              <span class="title" onclick="fetchFolder(event)"><%= child.name %></span>
              <span onclick="editFolder(event)">
                <i class="icon edit"></i>
              <form id="update-folder" class="hidden" action="/panel/folder/<%= child.id %>/update" method="post">
                <input type="text" value="<%= child.name %>" name="name"/><button type="submit">save</button>
              </form>
              </span>
              <span onclick="deleteFolder(event)">
                <i class="icon trash"></i>
              </span>
              <span onclick="shareFolder(event)">
                <i class="icon share"></i>
                <form id="share-folder" class="hidden" action="/share/<%= child.id %>" method="post">
                  <input type="date" name="expire"/><button type="submit">share</button>
                </form>
              </span>
            </li>
            <% }) %>
             <% directory.files.map(file => { %>
            <li class="file" data-folder-id="<%= directory.id %>" data-id="<%= file.id %>">
              <span class="title"><a href="/panel/folder/<%= directory.id %>/file/<%= file.id %>"><%= file.displayName %></a></span>
              <span onclick="editFile(event)"><i class="icon edit"></i>
              <form id="update-file" class="hidden" action="/panel/folder/<%= directory.id %>/file/<%= file.id %>/update" method="post">
                <input type="text" value="<%= file.displayName %>" name="name"/><button type="submit">save</button>
              </form>
              </span>
              <span onclick="deleteFile(event)"
                ><i class="icon trash"></i
              ></span>
            </li>
            <% }) %>
             <% } %>
            <li id="form-trigger" class="create">
              <span onclick="showCreateFolder(event)">Create new folder</span>
              <strong><span>OR</span></strong>
              <span onclick="showUploadFile(event)">Upload File</span>
            </li>
          </ul>
          <form
            id="create-folder"
            class="form hidden"
            action="/panel/folder/create"
            method="post"
          >
            <div class="input">
              <label for="folder">Folder name</label>
              <input
                id="folder"
                name="name"
                type="text"
                placeholder="folder name"
              />
            </div>
            <input name="parent_id" type="hidden" value="<%= directory.id %>" />
            <button type="submit">create</button>
            <button type="button" onclick="cancelForm(event)">cancel</button>
          </form>
          <form
            onclick="console.log('clicked')"
            class="form hidden"
            id="upload-file"
            action="/panel/folder/<%= directory.id %>/file/upload"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="input">
              <label for="file">Select Your File From here</label>
              <input id="file" name="file" type="file" />
            </div>

            <button type="submit" class="primary">Upload</button>
            <button type="button" onclick="cancelForm(event)">cancel</button>
          </form>
        </div>
      </section>
    </main>
  </body>
  <script>
    function goOneLevelUp(event) {
      const id = event.currentTarget.dataset.id;
      window.location.href = `/panel?parent_id=${id}`;
    }

    function fetchFolder(event) {
      const id = event.currentTarget.parentElement.dataset.id;
      window.location.href = `/panel?parent_id=${id}`;
    }

    function editFolder(event){
      event.currentTarget.parentElement.classList.add('editing')
      document.getElementById('update-folder').classList.remove('hidden')
    }

    function deleteFolder(event) {
      const id = event.currentTarget.parentElement.dataset.id;
      window.location.href = `/panel/folder/${id}/delete`;
    }

    function shareFolder(event) {
      event.currentTarget.parentElement.classList.add('editing')
      document.getElementById('share-folder').classList.remove('hidden')
    }

    function showCreateFolder() {
      document.getElementById("form-trigger").classList.add("hidden");
      document.getElementById("create-folder").classList.remove("hidden");
    }

    function showUploadFile() {
      document.getElementById("form-trigger").classList.add("hidden");
      document.getElementById("upload-file").classList.remove("hidden");
    }

    function cancelForm(event) {
      event.preventDefault();
      document.getElementById("form-trigger").classList.remove("hidden");
      document.getElementById("upload-file").classList.add("hidden");
      document.getElementById("create-folder").classList.add("hidden");
    }

    function editFile(event){
      event.currentTarget.parentElement.classList.add('editing')
      document.getElementById('update-file').classList.remove('hidden')
    }

    function deleteFile(event) {
      const {id,folderId} = event.currentTarget.parentElement.dataset;
      window.location.href = `/panel/folder/${folderId}/file/${id}/delete`;
    }
  </script>
</html>
